/* TODO Add site wide styles */
@import-normalize html, body, #root {
	height: 100%;
}
body {
	position: fixed;
	width: 100%;
}
html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

* {
	box-sizing: border-box;
}
